{% extends 'reagents/base.html' %}

{% block title %}{{ name_reagent }}{% endblock %}

{% block content %}
<style type="text/css">
        .header {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 15px;
              background-color: #e9e9e9;
    }
</style>
<header>
    <a href="/user_content">Содержание</a><p align="right">Вы авторизованы</p><p align="right"><a href="/main" target="new">Выйти</a></right></p>
</header>

<table id="1" border = "1" bordercolor="grey" cellspacing="0" cellpadding="10">
    <tr>
        <td align="center" bgcolor="#66CDAA">Название</td>
        <td align="center" width="400" bgcolor="#F0FFFF">{{ name_reagent }} </td>
    </tr>
    <tr>
        <td align="center" bgcolor="#66CDAA">Нормативный документ</td>
        <td align="center" width="400" bgcolor="#F0FFFF">{{ normative_doc }} </td>
    </tr>
</table>

<table id="2" width="100%" border = "1" bordercolor="grey" cellspacing="0" cellpadding="10">
    <thead>
        <tr>
            <td rowspan="2" align="center" bgcolor="#66CDAA">№</td>
            <td rowspan="2" align="center" bgcolor="#66CDAA">Дата поступления</td>
            <td rowspan="2" align="center" bgcolor="#66CDAA">Количество</td>
            <td rowspan="2" align="center" bgcolor="#66CDAA">Квалификация</td>
            <td rowspan="2" align="center" bgcolor="#66CDAA">Партия</td>
            <td rowspan="2" align="center" bgcolor="#66CDAA">Дата изготовления</td>
            <td rowspan="2" align="center" bgcolor="#66CDAA">Срок годности</td>
            <td colspan="3" align="center" bgcolor="#66CDAA">Расход</td>
            <td rowspan="2" align="center" bgcolor="#66CDAA">Действие</td>
        </tr>
        <tr>
            <td align="center" bgcolor="#66CDAA">Дата</td>
            <td align="center" bgcolor="#66CDAA">Количество</td>
            <td align="center" bgcolor="#66CDAA">Остаток</td>

        </tr>


    </thead>
    <tbody>
        {% if reagents %}
        {% for reagent in reagents %}
        <tr>
            <td align="center" bgcolor="#F0FFFF">{{ reagent.id }}</td>
            <td align="center" bgcolor="#F0FFFF">{{ reagent.receipt_date }}</td>
            <td align="center" bgcolor="#F0FFFF">{{ reagent.instance }}</td>
            <td align="center" bgcolor="#F0FFFF">{{ reagent.qualification }}</td>
            <td align="center" bgcolor="#F0FFFF">{{ reagent.shipment }}</td>
            <td align="center" bgcolor="#F0FFFF">{{ reagent.date_of_manufacture }}</td>
            <td align="center" bgcolor="#F0FFFF">{{ reagent.best_before_date }}</td>
            <td align="center" bgcolor="#F0FFFF">{{ reagent.date_of_consumption }}</td>
            <td align="center" bgcolor="#F0FFFF">{{ reagent.quantity_of_consumption }}</td>
            <td align="center" bgcolor="#F0FFFF">{{ reagent.remainder }}</td>
            <td align="center" bgcolor="#F0FFFF">
                <a href="/add_consumption_form/{{ reagent.id }}">Внести расход</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}